@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

*
{
  font-family: 'DM Sans', sans-serif;
}

body
{
  margin: 0;
}

header 
{
  background-color: #F6F6F6;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  margin: 0;
}

.logo-somar 
{
  display: flex;
  align-items: center;
}

.logo-somar img 
{
  width: 65%;
  height: 65%;
  margin-right: 10px;
  padding: 10px;
}

.logo-somar h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

nav ul 
{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li
{
  margin-left: 20px;
  padding-top: 10px;
  padding-right: 50px;
}

nav li a 
{
  color: #1B98E0;
  text-decoration: none;
  font-size: 2.2vh;
  font-weight: bold;
  transition: color 0.3s ease;
}

.login-button 
{
  background-color: #1B98E0;
  color: #fff;
  border: none;
  padding: 10px 40px;
  border-radius: 5px;
  font-size: 2.2vh;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s ease-in-out;
}

.login-button:hover 
{
  background-color: #1479A9;
  opacity: 1;
}

nav li:last-child 
{
  margin-left: auto;
}

.hover-underline-animation 
{
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation::after 
{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after 
{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.login-container 
{
  width: 400px;
  height: 400px;
  background-color: #F6F6F6;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-container h1 
{
  text-align: center;
  font-size: 64;
  color: #1B98E0;
  padding-top: 40px;
}

.login-form-container
{
  padding: 0px 60px;
  position: relative;
}


.login-form-container input[type="text"],
.login-form-container input[type="password"]
{
  width: 100%;
  padding: 10px;
  margin: 10px -10px;
  border: none;
  background-color: transparent;
  color: #333;
  border: none;
  border-bottom: 1px solid grey;
  outline: 0;
  transition: 0.2s ease-in-out;
}

.login-form-container input[type="text"]:focus,
.login-form-container input[type="password"]:focus
{
  border-bottom: 1.5px solid #1B98E0;
}

input:focus::placeholder {
  color: transparent;
}

.login-form-container button[type="submit"]
{
  width: 40%;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 20px;
  background-color: #1B98E0;
  color: #fff;
  cursor: pointer;
  margin-left: 12px;
  margin-right: 12px;
  transition: 0.2s ease-in-out;
}

.login-form-container button[type="submit"]:hover
{
  background-color: #1479A9;
  opacity: 1;
}

::placeholder
{
  color: #1B98E0;
  font-family: 'DM Sans', sans-serif;
  font-weight: bold;
  transition: 0.2s ease-in-out;
  font-size: 1.6vh;
}

.login-button-container
{
  padding-top: 30px;
}

.login-button-container button 
{
  font-size: 1.7vh;
}

footer 
{
  background-color: #F6F6F6;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0.5vh;
}

.footer-icons
{
  margin-left: 1vh;
}

footer a
{
  color: #fff;
  text-decoration: none;
}


footer a:hover
{
  text-decoration: underline;
}

.logo-footer-container img
{
  width: 297px;
  height: 167px;
  padding-bottom: 1vh;
}

.rs-footer-container img
{
  padding-right: 1vh;
}