<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar ODS</title>
    <script type="text/javascript" src="../JavaScript/app.js"></script>
    <link rel="stylesheet" href="../public/stylesheets/editarOds.css">
</head>

<body>
    <div include-html="../assets/header.html"></div>
    <div class="container">
        <div class="card">
                <span class="span1"><img class="img" src="../public/img/img_projeto_vida_verde.jpg"> Projetos: <span class="span2">Tramandaí mais verde</span></span>

            
        </div>
    </div>



    <div include-html="../assets/footer.html"></div>
    <script>
        includeHTML();
    </script>
    <script src="../JavaScript/requests.js"></script>
</body>

</html>