<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InserirProjeto</title>
</head>

<body>
    <form action="../controllers/controllerProjeto.php" method="post">
        <input type="text" name="nomeProjeto" id="nomeProjeto" placeholder="nome do projeto">
        <input type="text" name="cidadeProjeto" id="" placeholder="cidade do projeto">
        <textarea name="descricaoProjeto" id="" cols="30" rows="10" placeholder="Descrição do projeto"></textarea>
        <input type="text" name="objetivoProjeto" id="" placeholder="objetivo do projeto">
        <input type="number" name="id" id="" placeholder="coloque seu ID">
        <input type="number" name="ods" id="" placeholder="ods do projeto">
        <input type="file" id="photo" multiple accept="image/*, video/*" /></br>
        <input type="submit" value="Enviar">
    </form>
    <button id="upload" onclick="uploadImage()">Enviar arquivos</button>
    <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-storage.js"></script>
    <script src="../JavaScript/inserirImagen.js"></script>
    
</body>
</html>