<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../JavaScript/app.js"></script>
    <script src="../JavaScript/listarProjetosOds.js"></script>
    <title>Projetos</title>
</head>
<body>
    <div include-html="../assets/header.html"></div>
    <div id="divNomeProjeto"></div>
    <div>
        <div include-html="../assets/footer.html"></div>
        <script>
            includeHTML();
        </script>
    </div>
</body>
</html>