<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../JavaScript/app.js"></script>
    <script src="../JavaScript/listarProjetosOds.js"></script>
    <link rel="stylesheet" href="../public/stylesheets/projetos.css">
    <link rel="icon" type="image/x-icon" href="../public/img/SDG-Wheel.png">
    <title>Projetos</title>
</head>
<body>
    <div include-html="../assets/header.html"></div>
        <div class="containerProjetos">
            <div id="totalProjetos">    
                <select class="select1" name="estadoProjeto" id="estadoProjeto">
                    <option value="">RS</option>
                </select>
                <select class="select2" name="cidadeProjeto" id="cidadeProjeto"></select>
            </div>
        </div>
        <div id="divNomeProjeto"></div>        
        <div include-html="../assets/footer.html"></div>
        <script>
            includeHTML();
        </script>
    </div>
</body>
</html>