<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/telaProjeto.css">
    <script type="text/javascript" src="../JavaScript/app.js"></script>
    <title>Projeto proteger a vida terrestre</title>
</head>
<body>
    <div include-html="../assets/header.html"></div>
    <div class="container">
        <div class="container-img">
                <img src="../public/img/img_proteger_vida_terrestre.png" alt="img-ODS">
        </div>
        <div class="container-texto">
                <div>
                    <h2>Projeto: <span>Tramandai mais verde</span></h2>
                </div>
                <div>
                    <H2>Cidade de realização: <span>Tramandai/Rs</span></H2>
                </div>
                <div>
                    <h2>Causa de atuação: <span>Reflorestamento e arborização</span></h2>
                </div>
                <div class="texto">
                    <h2>Objetivo do Projeto:</h2>
                    <p> O objetivo do projeto Tramandaí mais Verde é arborizar os espaços 
                        públicos de Tramandaí e, com isso, propiciar uma melhoria no bem-estar dos 
                        cidadãos, bem como contribuir para a melhoria da qualidade do ar e da 
                        sensação térmica, entre outros benefícios. Para atingir esse objetivo foi 
                        estruturado um projeto em conjunto com diversos parceiros, com a meta de 
                        plantar 5.000 árvores em espaços públicos da cidade, em 5 anos.</p>
                </div>
                <div>
                    <h2>Parceiros: <span>Sesc, Senac, Sindicato e Prefeitura Municipal de Tramandaí</span></h2>
                </div>
                <div class="texto">
                    <h2>ODSs vinculados: <span>Vinculados: 15(Proteger a vida terrestre) e 11(Cidades e comunidades sustentaveis)</span></h2>
                </div>
            </div> 
            <div class="container-img-projeto">
                <img src="../public/img/img_projeto_vida_verde.jpg" alt="projeto">
            </div>       
    </div>
    <div include-html="../assets/footer.html"></div>
	<script>
		includeHTML();
	</script>
</body>
</html>