<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
       .cardUsuario {
          border: 2px solid black; /* Coloquei esse css só para visualizar se estava funcionando certinho as divisórias */
          padding: 10px; 
        }
      </style>
</head>
<body>
    <div class="usuarios" id="usuarios"></div>
    <script src="../JavaScript/listUsers.js"></script>
</body>
</html>