.c-item{
    height: 480px;
   
   }
   .c-img{
   height: 480px;
   object-fit: cover;
   filter: brightness(0.6);
   }
   .btn{
       color: white;
       background-color:#1B98E0;
       
   }
   .h1 {
       color: #1B98E0;
   }

   .subtitulo {
    font-size: 3vh;
    align-items: center;
    max-width: 85rem;
    text-align: center;
    margin: 2% 0;
   }

   .texto {
    padding: 0 2% 2% 2%;
   }

   .texto p {
    font-size: 2.5vh;
   }

   .containerTexto {
    max-width: 85rem;
    margin: auto;
   }