@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

*
{
  font-family: 'DM Sans', sans-serif;
}

body
{
    margin: 0;
    padding: 0;
}

.containerProjetos {
    display: flex;
    justify-content: center;
    max-width: 85rem;
    margin: auto;
}

#totalProjetos {
    margin: auto;
    padding: 2%;
    display: flex;
}

.select1, .select2 {
    border-radius: 5px;
    padding: 2%;
    margin: 0 3%;
}

.cardProjetos {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    width: 60%;
    padding: 1%;
    border-radius: 10px;
    background-color: #F6F6F6;
    box-shadow: 1.5px 1.5px 5px;
    margin: 1%;
}

.cardProjetos img {
    grid-row: 1 / span 3;
    height: 200px;
    object-fit: cover;
}

#textOds {
    max-width: 85rem;
    margin: auto;
    text-align: justify;
    padding: 0 10%;
}

.cardSemProjetos {
    max-width: 60rem;
    margin: auto;
    background-color: #F6F6F6;
    border-radius: 5px;
    box-shadow: 1px 1px 5px;
    padding: 10px 0;
    text-align: center;
}

#divNomeProjeto {
    margin: 3%;
}

.selectProjetos {
    max-width: 85rem;
    margin: auto;
}


