@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
*
{
  font-family: 'DM Sans', sans-serif;
}

body
{
  margin: 0;
}
h2
{
    color:#1B98E0;
}
.container-img
{
    display: flex;
    max-width: 1024px;
    margin: auto;
    margin-top: 2%;
    width: fit-content;
}
.container
{
    margin: 5% auto;
}
.container-texto
{
    max-width: 864px;
    margin: auto;
    
}
.container-img-projeto
{
    display: flex;
    max-width: 1024px;
    margin: auto;
    width: fit-content;
}

span
{
    color: black;
    font-size: 25px;
    font-weight: 100;
}
p
{
    font-size: 1.4rem;
    justify-content: center;
    text-align:justify;
    
}